<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>The Greatest of All Time | About</title>
</head>
<body>
    <nav>
        <ul>
            <li> <a href="/">Home</a> </li>
            <li> <a href="about">About</a> </li>
            <li> <a href="works">Career Stats</a> </li>
            <li> <a href="gallery">Gallery</a> </li>
        </ul>
    </nav>

    <div id="main-content">
        <h1>About Jerry</h1>
        <p id="main-text">
            Jerry Rice (born October 13, 1962) is an American former professional football player
            who was a wide receiver for 20 seasons in the National Football League (NFL). He won three Super Bowl
            titles with the San Francisco 49ers before two shorter stints at the end of his career with the
            Oakland Raiders and Seattle Seahawks. Nicknamed "World" because of his superb catching ability,
            his accomplishments and numerous records, Rice is widely regarded as the greatest wide receiver
            of all time and one of the greatest players in NFL history.
        </p>
    </div>
    <div>
        <img id="title-image" src="images/score-01.jpg">
    </div>
</body>
<script src="js/index.js"></script>
</html>