<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/style.css">
    <title>The Greatest of All Time | Photo Gallery</title>
</head>
<body>
    <nav>
        <ul>
            <li> <a href="index.html">Home</a> </li>
            <li> <a href="about.html">About</a> </li>
            <li> <a href="works.html">Career Stats</a> </li>
            <li> <a href="gallery.html">Gallery</a> </li>
        </ul>
    </nav>

    <div id="main-content">
        <h1>Photos of Jerry in Action</h1>
    </div>
    <ul id="gallery">
        <li>
            <ul>
                <li> <img id="gallery-image" src="../public/images/score-01.jpg"> </li>
                <li> <img id="gallery-image" src="../public/images/score-02.jpeg"> </li>
                <li> <img id="gallery-image" src="../public/images/route-02.jpg"> </li>
                <li>  </li>
            </ul>
        </li>
        <li>
            <ul>
                <li> <img id="gallery-image" src="../public/images/portrait-02.jpg"> </li>
                <li> <img id="gallery-image" src="../public/images/yac-01.webp"> </li>
                <li> <img id="gallery-image" src="../public/images/catch-01.jpg"> </li>
                <li>  </li>
            </ul>
        </li>
        <li>
            <ul>
                <li> <img id="gallery-image" src="../public/images/portrait-05.jpeg"> </li>
                <li> <img id="gallery-image" src="../public/images/yac-02.avif"> </li>
                <li> <img id="gallery-image" src="../public/images/portrait-04.webp"> </li>
                <li>  </li>
            </ul>
        </li>
    </ul>
</body>
<script src="js/index.js"></script>
</html>