<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>The Greatest of All Time | Jerry Rice #80</title>
</head>
<body>
    <nav>
        <ul>
            <li> <a href="/">Home</a> </li>
            <li> <a href="about">About</a> </li>
            <li> <a href="works">Career Stats</a> </li>
            <li> <a href="gallery">Gallery</a> </li>
        </ul>
    </nav>

    <div id="main-content">
        <h1>Jerry Rice #80</h1>
        <h3>Greatest Wide Receiver of All Time</h3>
        <p id="main-text">
            Welcome to a page to honor Jerry Rice, the greatest NFL wide receiver of all time.
            You are now about to witness greatness.
        </p>
    </div>
    <div>
        <img id="title-image" src="images/yac-04.jpg">
    </div>
</body>
<script src="js/index.js"></script>
</html>