<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>The Greatest of All Time | Career Highlights</title>
</head>
<body>
    <nav>
        <ul>
            <li> <a href="/">Home</a> </li>
            <li> <a href="about">About</a> </li>
            <li> <a href="works">Career Stats</a> </li>
            <li> <a href="gallery">Gallery</a> </li>
        </ul>
    </nav>

    <div id="main-content">
        <h1>Jerry's Career Highlights</h1>
    </div>
    <div>
        <img id="title-image" src="images/portrait-03.jpg">
    </div>
    <ul id="stats-list">
        <li>
            <ul>
                <li>3x Super Bowl champion (XXIII, XXIV, XXIX)</li>
                <li>Super Bowl MVP (XXIII)</li>
                <li>2x NFL Offensive Player of the Year (1987, 1993)</li>
                <li>10x First-team All-Pro (1986-1990, 1992-1996)</li>
            </ul>
        </li>
        <li>
            <ul>
                <li>Second-team All-Pro (2002)</li>
                <li>13x Pro Bowl (1986-1996, 1998, 2002)</li>
                <li>6x NFL receiving yards leader (1986, 1989, 1990, 1993-1995)</li>
                <li>2x NFL receptions leader (1990, 1996)</li>
            </ul>
        </li>
        <li>
            <ul>
                <li>6x NFL receiving touchdowns leader (1986, 1987, 1989-1991, 1993)</li>
                <li>NFL scoring leader (1987)</li>
                <li>NFL 1980s All-Decade Team</li>
                <li>NFL 1990s All-Decade Team</li>
            </ul>
        </li>
    </ul>
</body>
<script src="js/index.js"></script>
</html>